<body>
<form class="box" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
  <div [ngClass]="{ 'has-error': f.submitted && !username.valid }">
    <h1>Login</h1>
    <label class="InputLabel" for="username">Username</label>
    <input type="text"
           name="username" [(ngModel)]="model.username"
           #username="ngModel" required/>
    <div *ngIf="f.submitted
        && !username.valid">Username is required
    </div>
  </div>
  <div [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <label class="InputLabel"for="password">Password</label>
      <input class="Password"  type="password"
        name="password" [(ngModel)]="model.password"
          #password="ngModel" required />
      <div *ngIf="f.submitted
        && !password.valid">Password is required</div>
  </div>
  <div>
      <button class="LoginButton" [disabled]="loading">Login</button>
  </div>
  <div>
    <button class="SignUpButton" [disabled]="loading">Sign up</button>
  </div>
</form>
</body>
