
<form class="box" name="form" (ngSubmit)="f.form.valid && login(f)" #f="ngForm" novalidate>
  <div [ngClass]="{ 'has-error': f.submitted && !username.valid }">
    <h1>Login</h1>
  
    <input type="text"
           name="username" [(ngModel)]="model.username"
           #username="ngModel" placeholder="Nombre de usuario" required/>
    <div *ngIf="f.submitted
        && !username.valid">Se requiere nombre de usuario
    </div>
  </div>
  <div [ngClass]="{ 'has-error': f.submitted && !password.valid }">

      <input class="Password"  type="password"
        name="password" [(ngModel)]="model.password"
          #password="ngModel" placeholder="Contraseña" required />
      <div *ngIf="f.submitted
        && !password.valid">Se requiere contraseña</div>
  </div>
  <div>
      <button class="LoginButton" [disabled]="loading">Login</button>
  </div>

</form>

