<div *ngIf="artist != null" class="container">
  <br>
    <div class="row">
      <div class="col-sm-3">
        <div class="card" style="text-align: center">
          <div class="card-header">
            <img class="card-img-top" src="data:image/PNG;base64,{{profileImage}}">
          </div>
          <div class="card-body">
            <h1 class="card-title" >{{artist.artisticName}}</h1>
          </div>
          <div class="card-footer">
            <ngb-rating [rate]="usernameData.puntuation"  [readonly]=true >
              <ng-template let-fill="fill" >
                <span class="star" [class.filled]="fill === 100" >&#9733;</span>
              </ng-template>
            </ngb-rating>
          </div>

        </div>
        <br>
        <mat-divider></mat-divider>
        <br>
        <div style="text-align: center">
          <button mat-raised-button color="primary" style="font-size: larger; width: 100%" type="button" (click)="openContratationModal(modal,authReq)" value="contratar">Contratar</button>
        </div>
      </div>
      <div class="col-sm-9">
        <h1>{{artist.artisticName}}</h1>
        <hr>
        <p>{{artist.description}}</p>
        <hr>
          <div class="row">
            <div class="col-sm-6">
              <h4>Habilidades</h4>
              <ul class="list-group list-group-flush">
                <li class="list-group-item border-top-0 border-right-0 border-left-0" *ngFor="let habilidad of artist.habilities"> {{habilidad}} </li>
              </ul>
            </div>
            <div class="col-sm-6">
              <h4>Precio por actuación</h4>
              <p> {{artist.price}}€</p>
            </div>
          </div>
        <div class="row">
          <div class="col-sm-6">
            <h4>Zonas de actuación</h4>
            <ul class="list-group list-group-flush">
              <li class="list-group-item border-top-0 border-right-0 border-left-0" *ngFor="let zone of artist.zones"> {{zone}} </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <h4>Horarios</h4>
            <ul class="list-group list-group-flush">
              <li class="list-group-item border-top-0 border-right-0 border-left-0" *ngFor="let schedule of artist.schedules"> {{schedule}} </li>
            </ul>
          </div>
        </div>
          <hr>
        <div class="row">
          <div class="col-sm-6">
            <h3>Fotos de las actuaciones</h3>
            <ngb-carousel>
              <div *ngFor="let rawImage of artist.images">
                <ng-template ngbSlide>
                <img class="w-100" src="data:image/PNG;base64,{{rawImage.image}}">
                <div class="carousel-caption">
                </div>
              </ng-template>
              </div>
            </ngb-carousel>
          </div>
        </div>
        <hr>
         <div class="row">
            <div class="col-sm-12">
              <h3>Videos de las actuaciones</h3>
              <ngb-carousel>
                <div *ngFor="let rawVideo of artist.videos">
                  <ng-template ngbSlide>
                    <video class="w-100" controls>
                      <source src="data:video/mp4;base64,{{rawVideo.video}}" type='video/mp4'>
                    </video>
                    <div class="carousel-caption">
                    </div>
                  </ng-template>
                </div>
              </ngb-carousel>
            </div>
          </div>
      </div>
    </div>
  <div class="row">
    <div class="col-sm-12">
      <hr>
      <h3>Valoraciones</h3>
      <ngb-pagination class="d-flex justify-content-center" *ngIf="listValoraciones != null" [collectionSize]="listValoraciones.length" [pageSize]="pageSize" [(page)]="page" [boundaryLinks]="true"></ngb-pagination>
      <div *ngIf="listValoraciones.length > 0; else sinValoraciones">
        <div *ngFor="let valoracion of listValoraciones | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; ">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>
                <div class="row">
                  <div class="col-sm-3">
                    <img class="profileValoration" src="data:image/PNG;base64,{{valoracion.imgProfileValorador}}">
                  </div>
                  <div class="col-sm-6">
                    {{valoracion.valorador}}
                  </div>
                  <div class="col-sm-3">
                    <ngb-rating [rate]="valoracion.puntuacion"  [readonly]=true >
                      <ng-template let-fill="fill" >
                        <span class="star" [class.filled]="fill === 100" >&#9733;</span>
                      </ng-template>
                    </ngb-rating>
                  </div>
                </div>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              {{valoracion.comentario}}
            </mat-card-content>
            <mat-card-actions>
              <div *ngIf="loguedUser">
                <div *ngIf="valoracion.valorador == loguedUser.username">
                  <div class="row">
                    <div class="col-sm-2">
                      <button mat-raised-button color="error" style="font-size: larger; "type="button" (click)="borrarValoracion(valoracion)" >Borrar comentario</button>
                    </div>
                    <div class="col-sm-6">
                      <button mat-raised-button color="accent" style="font-size: larger; "type="button" (click)="openValorationModalEditar(modalEditValoration, valoracion)" value="contratar">Editar</button>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      <ng-template #sinValoraciones>
        No hay ninguna valoracion para este artista
      </ng-template>
    </div>
  </div>

  <div *ngIf="loguedUser; else veALoguearte">
      <div *ngIf="noHaValorado && HaContratado && loguedUser.username != artist.username ">
        <button mat-raised-button color="primary" style="font-size: larger; width: 30%" type="button" (click)="openValorationModal(modalValoration)" value="contratar">Valorar</button>
      </div>
  </div>
  <ng-template #veALoguearte>
  </ng-template>
</div>

<ng-template #modalValoration let-modRefVal>
  <div class="modal-header d-block">
    <div class="d-flex">
      <h3><b>Realiza una valoracion</b></h3>
    </div>
  </div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-valorar">
      <div class="modal-body">
      <div class="row">
        <div class="col-sm-4">
          <h4>Puntuación:</h4>
        </div>
        <div class="col-sm-6">
          <ngb-rating [(rate)]="valorationStarts"  [readonly]=false >
            <ng-template let-fill="fill" >
              <span class="star" [class.filled]="fill === 100" >&#9733;</span>
            </ng-template>
          </ngb-rating>
        </div>
        </div>
        <hr>
        <mat-form-field style="width: 400px;" >
          <textarea matInput ngModel name="comentario" placeholder="Comentario" rows="10"></textarea>
        </mat-form-field>
      </div>

      <div class="modal-footer">
        <button type="button" mat-raised-button color="warn" (click)="modRefVal.close()" >Cancelar</button>
        <button type="submit" mat-raised-button color="primary">Finalizar</button>
      </div>
    </form>
</ng-template>


<ng-template #modalEditValoration let-modRefValEdit>
  <div class="modal-header d-block">
    <div class="d-flex">
      <h3><b>Edita la valoración</b></h3>
    </div>
  </div>
  <form #f="ngForm" (ngSubmit)="onSubmitEdit(f)" class="form-valorar">
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-4">
          <h4><b>Puntuación: </b></h4>
        </div>
        <div class="col-sm-6">
          <ngb-rating [(rate)]="valorationStarts"  [readonly]=false >
            <ng-template let-fill="fill" >
              <span class="star" [class.filled]="fill === 100" >&#9733;</span>
            </ng-template>
          </ngb-rating>
        </div>
      </div>
      <hr>
      <mat-form-field style="width: 400px;" >
        <textarea matInput [ngModel]="valorationEditar.comentario" name="comentario" placeholder="Comentario" rows="10"></textarea>
      </mat-form-field>
    </div>

    <div class="modal-footer">
      <button type="button" mat-raised-button color="warn"  (click)="modRefValEdit.close()" >Cancelar</button>
      <button mat-raised-button color="accent"  type="submit">Editar</button>
    </div>
  </form>
</ng-template>




<ng-template #modal let-modRef>
  <app-contratation [artist]="artist" [loguedUser]="loguedUser" [modal]="modRef"></app-contratation>
</ng-template>

<ng-template #authReq let-autModRef>
  <div class="modal-header d-block">
    <div class="d-flex">
      <h3 class="modal-title"><b>Autenticación necesaria</b></h3>
      <button type="button" class="close" aria-label="Close" (click)="autModRef.close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <p>¡Vaya! Parece que intentas contratar los servicios de uno de nuestros artistas.</p>
    <p>Para ello debes tener una cuenta de <b>Organizador</b> y estar logueado en el sistema</p>
  </div>
  <div class="modal-footer">
    <div class="button-row">
      <button type="button" mat-raised-button color="primary" routerLink="/login" (click)="autModRef.close()">Inicia sesión</button>
      <button type="button" mat-raised-button color="primary" routerLink="/register" (click)="autModRef.close()">Registrarse</button>
      <button type="button" mat-raised-button color="warn" (click)="autModRef.close()">Cancelar</button>
    </div>
  </div>
</ng-template>

