<mat-card>
  <mat-card-title>Listado de artistas</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let artist of artists">
        <img mat-list-avatar src="../../favicon.ico" alt="{{artist.artisticName}}">
        <h3 mat-line>{{artist.artisticName}}</h3>
        <h4>
          <label>name:
            <input [(ngModel)]="artist.artisticName" placeholder="name">
          </label>
        </h4>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

