
<div>
<mat-card >
  <mat-card-title>Listado de artistas</mat-card-title>
  <mat-card-content>
    <mat-list>
      <div class="container">
        <div class="card flex-row flex-wrap text-white bg-dark mb-3" *ngFor="let artist of artists | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; ">
          <div class="card-header border-0">
            <img class="card-img-top" src="data:image/PNG;base64,{{artist.image}}">
          </div>
          <div class="card-block px-2">
            <h2 class="card-title">{{artist.artisticName}}</h2>
            <p class="card-text">{{artist.description}}</p>
            <p class="card-text">{{artist.price}}€/h</p>
            <a href="./artist/{{artist.username}}" class="btn btn-outline-light">Ver perfil </a>
          </div>
          <div class="w-100"></div>
          <div class="card-footer w-100 text-muted">
            <ngb-rating [rate]="artist.puntuation/artist.nPuntuations"  [readonly]=false (rateChange)="onPuntuado($event,i)">
              <ng-template let-fill="fill" >
                <span class="star" [class.filled]="fill === 100" >&#9733;</span>
              </ng-template>
            </ngb-rating>
          </div>
        </div>
      </div>
    </mat-list>
  </mat-card-content>
</mat-card>
</div>
<ngb-pagination [collectionSize]="artists.length" [pageSize]="pageSize" [(page)]="page" [boundaryLinks]="true"></ngb-pagination>


