<div>
<mat-card >
  <mat-card-title>Listado de artistas</mat-card-title>
  <mat-card-content>
    <mat-list>
      <div class="container">
        <div class="card flex-row flex-wrap text-white bg-dark mb-3" *ngFor="let artist of artists; let i = index">
          <div class="card-header border-0">
            <img class="card-img-top" src="data:image/PNG;base64,{{artist.image}}">
          </div>
          <div class="card-block px-2">
            <h2 class="card-title">{{artist.artisticName}}</h2>
            <p class="card-text">{{artist.description}}</p>
            <p class="card-text">{{artist.price}}€/h</p>
            <a href="./artist/profile/{{i}}" class="btn btn-outline-light">Ver perfil (./artist/profile/{{i}})</a>
          </div>
          <div class="w-100"></div>
          <div class="card-footer w-100 text-muted">
            <ngb-rating [(rate)]="artist.puntuation">
              <ng-template let-fill="fill" >
                <span class="star" [class.filled]="fill === 100" >&#9733;</span>
              </ng-template>
            </ngb-rating>
          </div>
        </div>
      </div>
    </mat-list>
  </mat-card-content>
</mat-card>
</div>

<hr>

<h2>Prueba de imagenes y videos de artistas</h2>
<div *ngFor="let artist of artists">
  <h3>{{artist.artisticName}}</h3>
  <div *ngFor="let rawImage of artist.rawImages">
    <img class="card-img-top" src="data:image/PNG;base64,{{rawImage.image}}">
  </div>
  <div *ngFor="let rawVideo of artist.rawVideos">
    <video controls>
      <source src="data:video/mp4;base64,{{rawVideo.video}}" type='video/mp4'>
      <source src="data:video/webm;base64,{{rawVideo.video}}" type='video/webm'>
    </video>
  </div>
</div>

