<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-expand-lg navbar-light bg-light navStyle">
  <a class="navbar-brand" routerLink="/artistList">
    <img class="LogoShortNavBar" src="../assets/images/LogoShortNamePurple.PNG" alt="shortLogo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/artistList">Listado de artistas</a>
      </li>
      <li *ngIf="loguedUser !== null && loguedUser.usertype == 'ARTIST'" class="nav-item">
        <a class="nav-link" [routerLink]="['/profile', loguedUser.username]">Perfil artístico</a>
      </li>
      <li *ngIf="loguedUser !== null && loguedUser.usertype != 'ADMIN'" class="nav-item">
        <a class="nav-link" [routerLink]="['/contracts', loguedUser.username]">Contraciones</a>
      </li>
      <li *ngIf="loguedUser !== null" class="nav-item">
        <a class="nav-link" [routerLink]="['/reclamations']">Reclamaciones</a>
      </li>
    </ul>
    <app-notifications class="order-1" *ngIf="loguedUser != null"></app-notifications>
    <div class="order-1">
      <a *ngIf="loguedUser == null" class="navbar-brand nav-link " routerLink="/login">
        <div class="LoginButton" alt="shortLogo">Inicia sesión</div>
      </a>
      <a *ngIf="loguedUser == null" class="navbar-brand nav-link " routerLink="/register">
        <div class="LoginButton" alt="shortLogo">Registrate</div>
      </a>
    </div>

    <div class="order-2">
    <ul *ngIf="loguedUser != null" class="nav navbar-nav navbar-right">

      <li class="dropdown">
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a routerLink="/user/{{loguedUser.username}}"><i class="textNavDrop"></i> Account</a></li>
          <li class="divider"></li>
          <li><a [routerLink]="['/login']" (click) ="logout()">Logout</a></li>
        </ul>
        <a class="dropdown-toggle profile-image" data-toggle="dropdown">
          <img src="data:image/PNG;base64,{{loguedUser.image}}" class="img-circle"> {{loguedUser.username}} <b class="caret profilePic"></b></a>
      </li>
    </ul>
    </div>

    <div class="order-3"></div>
  </div>

</nav>
<router-outlet></router-outlet>

<br>
<div class="jumbotron text-center" style="margin-bottom:0">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img style="width: 400px;height: 200px" src="../assets/images/LogoFullName.PNG"/>
      </div>
      <div class="col-sm-5">
        <br>
        <b>BookAnArtist © 2019</b><br><br>
        Realizado por los estudiantes de Ingeniería Informática de la UJI:<br><br>
        Sergio Jimenez Chovares<br>
        Miguel Matey Sanz<br>
        Albert Mestre Vicente
      </div>
    </div>
  </div>
</div>



