@import "../assets/mixins.scss";



.navStyle{
    background-image: linear-gradient(1650deg,$purple,$blue, $blue);
    color: white;
}
.LogoShortNavBar{
    height: 8vh;
    width: 8vw;
}
nav .navbar-nav li a{
    color: white !important;
}

nav .navbar-nav li a:active{
   transform:  translateY(2px);
  // transition-duration: 2s;
   font-weight: 500;
}

.LoginButton{
    color: white;
    font-weight: 400;
}
.LoginButton:hover{
    //transform:  translateY(-2px);
}
.LoginButton:active{
    transform:  translateY(2px);
    font-weight: 500;
}
.jumbotron{
    background-image: linear-gradient(1650deg,$purple,$blue, $blue);
    color: white;
}