@import "../../assets/mixins.scss";

header {
  text-align: center;
  width: 100%;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 85% 85% / 30%;
  background-image: linear-gradient(1650deg,transparentize($purple,0.3),transparentize($blue,0.3), transparentize($blue,0.3));
  padding: 5vw;
  color: #ecf0f1;
}

table {
  margin: 0 auto;
  width: 100%;
}

mat-paginator {
  margin: 0 auto;
}

.button-row button{
  margin-right: 8px;
}

th,td{
  max-width: 150pt;
}

.modal-backdrop-chachiguay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(45deg,#5c258d,#4389a2);
  opacity: 0.8;
  width: 100%;
  height: 100%;
  z-index: 1050;
}

/*
Estilo de las estrellas de valoración
 */

.star {
  font-size: 1.5rem;
  color: #F2EDD0;
  position: relative;
  left: 2vw;
}
.filled {
  color: #FCDE1F;
}


