<div *ngIf="loguedUser != null">
  <div class="jumbotron" style="text-align: center">
    <h2>Contrataciones</h2>
    <p>Hola {{loguedUser.username}}, aqui puedes ver los contratos en los que estas involucrado.</p>
  </div>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container *ngIf="!isArtist" matColumnDef="artisticUsername">
      <th mat-header-cell *matHeaderCellDef> Artista </th>
      <td mat-cell *matCellDef="let element"> {{element.artisticUsername}}</td>
    </ng-container>
    <ng-container *ngIf="isArtist" matColumnDef="organizerUsername">
      <th mat-header-cell *matHeaderCellDef> Organizador </th>
      <td mat-cell *matCellDef="let element">
        <a value="contratar">{{element.organizerUsername}}</a>
        <button mat-icon-button  matBadgePosition="above before" matBadgeColor="accent" (click)="openListValorationModal(modalPuntuacionArtista,element.organizerUsername)">
          <mat-icon>contact_support</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="comments">
      <th mat-header-cell *matHeaderCellDef> Comentarios </th>
      <td mat-cell *matCellDef="let element"> {{element.comments}} </td>
    </ng-container>
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef> Provincia </th>
      <td mat-cell *matCellDef="let element"> {{element.location}} </td>
    </ng-container>
    <ng-container matColumnDef="zone">
      <th mat-header-cell *matHeaderCellDef> Localidad </th>
      <td mat-cell *matCellDef="let element"> {{element.zone}} </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha y hora </th>
      <td mat-cell *matCellDef="let element"> {{getDate(element.date)}} </td>
    </ng-container>
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef> Estado </th>
      <td mat-cell *matCellDef="let element"> {{stateTransformation.get(element.state)}} </td>
    </ng-container>
    <ng-container matColumnDef="operations">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <div class="button-row" *ngIf="element.state == 'ACCEPTANCE_PENDING' && isArtist">
          <button mat-raised-button color="primary" type="button" value="accept" (click)="acceptContract(element)">Aceptar</button>
          <button mat-raised-button color="warn" type="button" value="decline" (click)="declineContract(element)">Rechazar</button>
        </div>
        <div *ngIf="element.state == 'ACCEPTANCE_PENDING' && !isArtist">
          <button mat-raised-button color="warn" type="button" value="cancel" (click)="cancelContract(element)">Cancelar</button>
        </div>
        <div *ngIf="element.state == 'ACCEPTED' && !isArtist && currentDate.getTime() > element.date">
          <button mat-raised-button color="primary" type="button" value="accept" (click)="completeContract(element)">Actuación completa</button>
        </div>
        <div *ngIf="(element.state == 'DONE' && element.haSidoValorado) || (element.state == 'ACCEPTED' && currentDate.getTime() < element.date && element.haSidoValorado) || (element.state == 'ACCEPTED'  && element.haSidoValorado && currentDate.getTime() > element.date && isArtist)">
          Nada por ahora!
        </div>
        <div *ngIf="element.state != 'ACCEPTANCE_PENDING'" class="row">
          <div *ngIf="!element.haSidoValorado && loguedUser.usertype == 'ORGANIZER'">
            <a [routerLink]="['/artist', element.artisticUsername]" class="btn btn-info">Valora al artista!</a>
          </div>
          <div *ngIf="loguedUser.usertype == 'ARTIST' && !element.haSidoValorado">
            <button class="btn btn-info" (click)="openValorationModal(modalValoration,element.organizerUsername)" value="contratar">Valora al organizador</button>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div style="text-align: center">
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>

<ng-template #modalPuntuacionArtista let-modRefVal>
  <div class="modal-header d-block">
    <div class="d-flex">
      <h3>Valoraciones del organizador</h3>
    </div>
    <div>
      <div class="row">
        <div class="col-sm-3">
          Puntuación
        </div>
        <div class="col-sm-5">
          Puntuación
        </div>
        <div class="col-sm-4">
          Comentario
        </div>
      </div>
    </div>
  </div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-valorar">
    <div class="modal-body">
        <div *ngFor="let valoracion of listValoraciones">
          <div class="row">
            <div class="col-sm-2">
              {{valoracion.valorador}}
            </div>
            <div class="col-sm-6">
              <ngb-rating [rate]="valoracion.puntuacion"  [readonly]=true disabled="true" >
                <ng-template let-fill="fill" >
                  <span class="star" [class.filled]="fill === 100" >&#9733;</span>
                </ng-template>
              </ngb-rating>
            </div>
            <div class="col-sm-4">
              {{valoracion.comentario}}
            </div>
          </div>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" mat-raised-button color="warn" (click)="modRefVal.close()" >Cancelar</button>
    </div>
  </form>
</ng-template>


<ng-template #modalValoration let-modRefVal>
  <div class="modal-header d-block">
    <div class="d-flex">
      <h3>Realiza una valoracion</h3>
    </div>
  </div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-valorar">
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-2">
          <h4>Puntuación:</h4>
        </div>
        <div class="col-sm-6">
          <ngb-rating [(rate)]="valorationStarts"  [readonly]=false >
            <ng-template let-fill="fill" >
              <span class="star" [class.filled]="fill === 100" >&#9733;</span>
            </ng-template>
          </ngb-rating>
        </div>
      </div>
      <mat-form-field style="width: 400px;" >
        <textarea matInput ngModel name="comentario" placeholder="Comentario" rows="10"></textarea>
      </mat-form-field>
    </div>
    <div class="modal-footer">
      <button type="button" mat-raised-button color="warn" (click)="modRefVal.close()" >Cancelar</button>
      <button type="submit" mat-raised-button color="primary">Finalizar</button>
    </div>
  </form>
</ng-template>
