table {
  margin: 0 auto;
  width: 100%;
}

mat-paginator {
  margin: 0 auto;
}

.button-row button{
  margin-right: 8px;
}

th,td{
  max-width: 150pt;
}

/*
Estilo de las estrellas de valoración
 */

.star {
  font-size: 1.5rem;
  color: #F2EDD0;
  position: relative;
  left: 2vw;
}
.filled {
  color: #FCDE1F;
}


